<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>

<body>
    <div class="container">
        <header>
            <a href="/" class="header-title"><%=title%></a>
            <a href="/rss.xml" style="margin-left: auto;">RSS</a>
            <a href="https://github.com/badlogic">GitHub</a>
        </header>
        <article>